html body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.fontCarter {
    font-family: 'Carter One', cursive;
}

.headerFont a {
    text-decoration: none;
    font-family: 'Carter One', cursive;
    color: white;
}

.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    font-size: 30px;
}

.center {
    margin:auto;
    text-align: center;
}
.topNav {
    font-family: 'Carter One', cursive;
}
.topNav ul li {
    display: inline-block;
    padding: 15px;
    margin-top:-5px;
}

nav ul li a {
    color:black;
}

.homeImage {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
#images::after {
    content: "";
    clear: both;
    display: table;
}

.details1 {
    margin-top: 60px;
    text-align: center;
}

.details2 {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 80px;
}

.input-group-prepend input {
    text-align: right;
}

legend {
    border:0;
    border-bottom: 1px solid #e5e5e5;
}

.all_services {
    margin: 30px 70px;
}

.addLink {
    margin-left:80px;
    margin-top: 50px;
}

.wrapper {
    width:500px !important;
    margin:0 auto;
    margin-top: 50px ;
    margin-bottom: 50px;
    border: 1px #e5e5e5 solid;
    border-radius: 15px;
    padding: 40px 30px !important;
}

.marginTop1 {
    margin-top: 30px;
}

.marginTop2 {
    margin-top: 50px;
}

.error {
    color:red;
    text-align: center;
    margin:0 auto;
}


.test { overflow:hidden;}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: #2ac5ed;
    font-weight:bold;
}                    
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}